<%- include('partials/header') %>

<section class="intro">
  <div class="intro-container">
    <div class="intro-image">
      <img src="<%= introducao.imagem %>" alt="Foto de <%= introducao.nome %>">
    </div>
    <div class="intro-text">
      <h2><%= nome %></h2>
      <p>
        <%= introducao.bio %>
      </p>
    </div>
  </div>
</section>

<section>
    <h2>Contato</h2>
    <div class="contato-box">
      
      <% contatos.emails.forEach(email => { %>
        <div class="contato-tag">
          <strong>Email <%= email.classe %>:</strong>
          <span><%= email.nome %></span>
        </div>
      <% }) %>
  
      <div class="contato-tag">
        <strong>WhatsApp:</strong>
        <span><%= contatos.whatsapp %></span>
      </div>
  
      <div class="contato-links">
        <% contatos.links.forEach(link => { %>
          <a href="<%= link.url %>" target="_blank" class="<%= link.classe %>"><%= link.nome %></a>
        <% }) %>
      </div>
      
    </div>
  </section>  

<%- include('partials/footer') %>