<%- include('partials/header') %>

<h2>Projetos Acadêmicos</h2>

<% projetos.forEach(proj => { %>
    <section>
        <h3><%= proj.titulo %></h3>
        <p><%= proj.descricao %></p>
        <div class="tech-stack">
            <% proj.tecnologias.forEach(tec => { %>
              <span class="tech-tag <%= tec.classe %>"><%= tec.nome %></span>
            <% }) %>
        </div>
        <a href="<%= proj.link %>" target="_blank" class="github-btn">Ver no GitHub</a>
    </section>
<% }) %>

<%- include('partials/footer') %>